$color-primary: #3F75DE;
$color-primary-dark: #1E4EAE;
$color-primary-light: #769CE8;

$color-secondary: #DEA93F;
$color-secondary-dark: #AE7E1E;
$color-secondary-light: #E8C276;

$color-info: #296EDA;
$color-success: #5FB063;
$color-warning: #E39735;
$color-error: #DA583A;

$color-grey: #A6A5A0;
$color-grey-lighten: #F2F2F1;
$color-grey-light: #CCCCC9;

$color-black: #000000;
$color-title: red;
$color-text: #757575;
$color-white: #FFFFFF;




